<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML steganalysis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
</head>
<body>
<div class="container">
	<h2 class="jumbotron text-muted text-center">Simple image steganalysis</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group text-center">
			<label for="file" class="text-center">Send your <b>.png</b> file:</label>
	    	<input type="file" name="file">
	    </div>
	    <button type="submit" class="btn btn-primary btn-block btn-lg">Upload</button>
    </form>
</div>
</body>
</html>